# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
env.properties



src/main/resources/application-dev.properties
src/main/resources/application-prod.properties
